In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'Ian S4.csv')
df

                 Time  Stage
0      9/25/2022 0:00   1.65
1      9/25/2022 0:01   1.62
2      9/25/2022 0:02   1.60
3      9/25/2022 0:07   1.57
4      9/25/2022 0:11   1.54
...               ...    ...
4100  10/1/2022 23:48   3.34
4101  10/1/2022 23:49   3.37
4102  10/1/2022 23:53   3.41
4103  10/1/2022 23:54   3.38
4104  10/1/2022 23:59   3.41

[4105 rows x 2 columns]

In [3]:
df.drop_duplicates(subset=['Time'], inplace=True)
df['Time'] = pd.to_datetime(df['Time'])

In [4]:
df.set_index('Time', inplace=True)

In [5]:
df1 = df['Stage'].resample('1H').ffill()
df1

Time
2022-09-25 00:00:00    1.65
2022-09-25 01:00:00    1.21
2022-09-25 02:00:00    1.03
2022-09-25 03:00:00    1.15
2022-09-25 04:00:00    1.53
                       ...
2022-10-01 19:00:00    1.85
2022-10-01 20:00:00    1.91
2022-10-01 21:00:00    2.33
2022-10-01 22:00:00    2.72
2022-10-01 23:00:00    3.14
Freq: H, Name: Stage, Length: 168, dtype: float64

In [6]:
df1.to_csv("inter Ian S4.csv")